html,
body {
	height: 100%;
}

body,
a {
	color: #010101;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.title-box {
	text-align: center;
	margin-bottom: 50px;
}

.title {
	@extend %lemonTree-regular;
	font-size: 60px;
	color: #32505a;
	position: relative;
	display: inline-block;

	&::before {
		content: '';
		position: absolute;
		background-image: url(../images/before-title.svg);
		width: 109px;
		height: 40px;
		top: 50%;
		transform: translateY(-50%);
		left: -148px;
	}

	&::after {
		content: '';
		position: absolute;
		background-image: url(../images/after-title.svg);
		width: 109px;
		height: 40px;
		top: 50%;
		transform: translateY(-50%);
		right: -148px;
	}
}

.all-btn {
	position: absolute;
	width: 27px;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	background-color: transparent;
	bottom: -16px;
	cursor: pointer;

	&__left {
		background-image: url(../images/right_arrow.png);
		transform: rotate(180deg);
		left: 428px;
	}

	&__right {
		background-image: url(../images/right_arrow.png);
		right: 428px;
	}
}

.all-btn.slick-disabled {
	filter: opacity(0.5);
}

.card-box {
	text-align: center;
	max-width: 263px;
	box-shadow: 0px 4px 29px 0px rgba(0, 0, 0, 0.07);
	border-radius: 10px;
	margin-bottom: 56px;

	&__img {
		margin: 0 auto 29px;
	}

	&__title {
		@extend %openSans-bold;
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 23px;
	}

	&__info {
		margin-bottom: 26px;
	}

	&__info-text {
		@extend %openSans-light;
		font-size: 12px;
		line-height: 20px;
	}

	&__info-slash {
		@extend %openSans-light;
		font-size: 12px;
		line-height: 20px;
	}

	&__price {
		display: flex;
		justify-content: space-between;
		width: 193px;
		margin: 0 auto 29px;
	}

	&__price-text {
		@extend %robotoSlab-bold;
		font-size: 22px;
		line-height: 28px;
	}

	&__price-quantity {
		@extend %openSans-regular;
		font-size: 14px;
		line-height: 28px;
	}

	&__btn {
		margin-bottom: 38px;
		background-color: #fd4f10;
		border-radius: 5px;
		padding: 15px 78px 14px 35px;
		border: none;
		@extend %openSans-semibold;
		font-size: 14px;
		line-height: 28px;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: #ffffff;
		position: relative;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			background-image: url(../images/button-cart.svg);
			width: 22px;
			height: 20px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			top: 20px;
			right: 26px;
		}
	}
}

.counter {
	display: flex;
	align-items: center;
}

.decrement,
.increment {
	width: 13px;
	height: 13px;
	border: 1px solid #808080;
	margin: 0 auto;
	border-radius: 50%;
	background-color: transparent;
	@extend %openSans-regular;
	font-size: 14px;
	color: #808080;
	position: relative;
	cursor: pointer;
}

.decrement {
	margin-right: 15px;

	&::before {
		content: '-';
		position: absolute;
		@extend %openSans-regular;
		font-size: 14px;
		color: #808080;
		top: -6px;
		right: 4px;
	}
}

.increment {
	margin-left: 15px;

	&::before {
		content: '+';
		position: absolute;
		@extend %openSans-regular;
		font-size: 14px;
		color: #808080;
		top: -5px;
		right: 2px;
	}
}