@media (max-width: 1100px) {
    .header-top__address {
        display: none;
    }
}

@media (max-width: 920px) {
    .nav-button {
        display: block;
        padding: 20px 0;
        cursor: pointer;
        order: -1;
        position: relative;

        span {
            display: block;
            background-color: #4ec83d;
            margin-bottom: 3px;
            width: 30px;
            height: 3px;
        }
    }

    .header__nav-list {
        position: absolute;
        max-width: 97%;
        flex-direction: column;
        transform: translateY(-500px);
        transition: all .5s;
        z-index: -1;
        background-color: rgba(#010101, 0.5);
        margin-left: 0;
        text-align: center;
    }

    .header__nav-list--active {
        transform: translateY(50px);
    }

    .header__nav-item {
        margin-right: 15px;
    }

    .header__nav-link {
        color: #fff;
    }
}

@media (max-width: 800px) {
    .header-top__mail {
        display: none;
    }
}

@media (max-width: 750px) {
    .header-top__phone {
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
        padding: 20px 0;
    }

    .header-top__time,
    .header-top__btn {
        display: none;
    }

    .cabinet-text,
    .basket-text {
        display: none;
    }

    .header__sale {
        justify-content: flex-end;
        margin-right: 0;
        margin-left: -100px;

    }

    .header-top__inner {
        margin-top: 0;
        padding: 17px 8px 15px 7px;
        justify-content: space-between;
    }

    .header-top {
        padding-bottom: 0;
        border-bottom: none;
    }

    .header-top__logo {
        margin-left: 200px;
    }

    .cover__slider-title {
        font-size: 72px;
        line-height: 86px;
        margin-bottom: 33px;
        margin-top: 28px;
        max-width: 333px;
    }

    .cover__slider-time {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 28px;
    }

    .cover__slider-discount {
        width: 90px;
        height: 90px;
        font-size: 18px;
        line-height: 22px;
        right: -183px;
        top: 10px;
        padding-top: 25px;
    }

    .cover__slider-img {
        width: 160%;
    }

    .slider-btn__left.cover__slider-arrow {
        display: none !important;
    }

    .slider-btn__right.cover__slider-arrow {
        display: none !important;
    }

    .cover__slider-btn {
        padding: 20px 44px;
    }

    .slick-dots {
        bottom: 41px;
    }

    .sets__slider,
    .rolls__slider,
    .pizza__slider,
    .wok__slider,
    .novelties__slider,
    .stock__slider {
        .all-btn__right {
            right: 180px !Important;
        }

        .all-btn.all-btn__left {
            left: 178px !Important;
        }
    }

    .card-box {
        max-width: 220px;
    }

    .decrement::before {
        top: -3px;
        right: 3px;
    }

    .increment::before {
        top: -2px;
        right: 2px;
    }

    .card-box__btn {
        padding-left: 32px;
    }

    .title {
        font-size: 48px;
    }

    .title::after {
        right: -120px;
    }

    .title::before {
        left: -120px;
    }

    .advantages__inner {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .advantages__inner {
        margin-bottom: 59px;
    }

    .reviews__inner {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 80px;
    }

    .reviews__box:nth-child(3) {
        display: none;
    }

    .reviews__box {
        padding: 43px 41px 40px;
        max-width: 347px;
    }

    .subscribe__question,
    .subscribe__call,
    .subscribe__form,
    .subscribe__text {
        margin-left: 0;
    }

    .subscribe__form-btn {
        width: 222px;
    }

    .subscribe__form-phone {
        margin-left: 27px;
        margin-right: 27px;
    }

    .about__subtitle {
        font-size: 22px;
        margin-bottom: 65px;
    }

    .about__text {
        margin-right: 31px;
        margin-bottom: 31px;
    }

    .about__text:last-child {
        max-width: 706px;
        width: 100%;
        margin-right: 0;
    }

    .about__img {
        height: 748px;
        width: 220px;
    }

    .footer-top__inner {
        display: none;
    }

    .accordion {
        width: 100%;
        display: block;
    }

    .accordion-item {
        border-bottom: 1px solid #20353d;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .accordion-item__top {
        position: relative;
    }

    .accordion-img {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);

        &--active {
            transform: rotate(180deg);
        }
    }

    .accordion-header {
        padding: 26px 25px 27px 23px;
        cursor: pointer;
    }

    .accordion-content {
        display: none;
        background-color: #20353d;

        &--active {
            padding: 15px 10px 21px 23px !Important;
        }

        .footer-top__item-first,
        .footer-top__item {
            padding: 10px 0;
        }
    }

    .footer-top {
        display: none;
    }

    .footer {
        padding-top: 0;
    }

    .footer-bottom__link {
        margin-right: 0;
    }

    .footer-bottom__inner {
        margin-top: 35px;
    }

    .footer {
        padding: 0 0 39px;
    }
}

@media (max-width: 630px) {
    .header-top__logo {
        margin-left: 0;
    }
}

@media (max-width: 540px) {
    .header-top__time {
        display: none;
    }
}

@media (max-width: 400px) {
    .header-top__inner {
        display: block;
    }

    .header__sale-link:last-child {
        margin-left: 25px;
    }
}

@media (max-width: 320px) {

    .header-top__inner {
        display: flex;
        justify-content: space-between;
    }

    .header__sale {
        margin-left: 0;
        justify-content: normal;
        width: 67px;
        max-width: fit-content;
        width: auto;
    }
}