/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Roboto Slab', serif; */
/* font-family: 'LemonTreeRegular'; */

%openSans-light{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

%openSans-regular{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

%openSans-regitalic{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 italic;
}

%openSans-semibold{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

%openSans-bold{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

%robotoSlab-bold{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

%lemonTree-regular{
    font-family: 'LemonTreeRegular';
    font-weight: 400;
}

%myriadPro-regular{
    font-family: 'Myriad Pro';
    font-weight: 400;
}