@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header-top {

    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    &__address {
        @extend %openSans-regular;
        font-size: 14px;
        line-height: 16px;
        padding-left: 21px;
        padding-right: 70px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/point.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 11px;
            height: 16px;
            bottom: 3px;
            left: 0;
        }
    }

    &__mail {
        @extend %openSans-regular;
        font-size: 14px;
        line-height: 16px;
        padding-left: 22px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/letter.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 12px;
            height: 9px;
            bottom: 3px;
            left: 0;
        }
    }

    &__box {
        max-width: 155px;
        margin-right: -40px;
    }

    &__phone {
        @extend %openSans-bold;
        font-size: 18px;
        line-height: 23px;
    }

    &__time {
        @extend %openSans-regular;
        font-size: 10px;
        line-height: 13px;
    }

    &__btn {
        @extend %openSans-regular;
        color: #1fba0a;
        border: 1px solid #1fba0a;
        border-radius: 5px;
        padding: 10px 18px;
    }
}

.header {

    &__nav-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__nav-list {
        display: flex;
        justify-content: space-between;
        max-width: 723px;
        width: 100%;
        margin-left: 30px;
    }

    &__nav-item {
        padding: 20px 0;
        transition: all .2s;

        &:hover {
            background-color: #84c604;
        }
    }

    &__nav-link {
        @extend %openSans-regular;
        text-transform: uppercase;
        font-size: 14px;
    }

    &__sale {
        display: flex;
        justify-content: start;
        max-width: 292px;
        width: 100%;
        margin-right: 30px;

    }

    &__sale-list {
        padding: 20px 0;

    }

    &__sale-link {
        display: flex;
    }

    &__sale-link {
        &:last-child {
            margin-left: 45px;
            position: relative;
        }
    }
}

.cabinet-img {
    width: 22px;
    height: 22px;
}

.cabinet-text {
    margin-left: 18px;
    @extend %openSans-regular;
    text-transform: uppercase;
    font-size: 14px;
}

.basket-img {
    width: 23px;
    height: 21px;
}

.basket-num {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 2px;
    background-color: #fd4f10;
    color: #fff;
    font-size: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 18px;
    top: -3px;
}

.basket-text {
    margin-left: 15px;
    @extend %openSans-regular;
    text-transform: uppercase;
    font-size: 14px;
}

.cover {

    &__inner {
        margin-bottom: 80px;
    }

    &__slider-box {
        position: relative;
    }

    &__slider-img {
        width: 100%;
        max-height: 675px;
        height: 100%;
    }

    &__slider-title {
        color: #84c604;
        @extend %lemonTree-regular;
        font-size: 110px;
        line-height: 100px;
        position: relative;
        margin-bottom: 45px;
        margin-top: 112px;
    }

    &__slider-discount {
        @extend %openSans-bold;
        font-size: 29px;
        line-height: 35px;
        color: #ffffff;
        position: absolute;
        right: -337px;
        top: 0;
        width: 141px;
        height: 141px;
        background-color: #df2024;
        border-radius: 50%;
        text-align: center;
        padding-top: 40px;
    }

    &__slider-time {
        @extend %openSans-regitalic;
        font-size: 26px;
        line-height: 31px;
        color: #ffffff;
        margin-bottom: 55px;
    }

    &__slider-btn {
        background-color: #fd4f10;
        border-radius: 5px;
        padding: 20px 73px;
        @extend %openSans-regular;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #fefffe;
    }
}

.slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 65px;

    button {
        border-radius: 50%;
        background-color: transparent;
        width: 15px;
        height: 15px;
        border: 2px solid #c2c2c2;
        color: transparent;
        margin: 0 13px;
    }

    .slick-active {
        button {
            background-color: #1fba0a;
            border: 2px solid #1fba0a;
        }
    }
}

.slider-img {
    width: 100%;
}

.slider-btn {
    position: absolute;
    z-index: 1;
    border: none;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: #110d16;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: #84c604;
    }
}

.slider-btn__left {
    left: 155px;

    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/left-slider.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        width: 10px;
        height: 17px;
        top: 50%;
        transform: translateY(-50%);
        left: 19px;
    }
}

.slider-btn__right {
    right: 155px;

    &::before {
        content: '';
        position: absolute;
        background-image: url(../images/right-slider.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        width: 10px;
        height: 17px;
        top: 50%;
        transform: translateY(-50%);
        right: 19px;
    }
}

.slider {
    &__inner-text {
        max-width: 507px;
        position: absolute;
        top: 0;
    }
}

.sets {

    &__inner {
        margin-bottom: 80px;
        position: relative;
    }

    &__slider {
        .slick-dots {
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -20px;

            button {
                border-radius: 50%;
                width: 8px;
                background-color: #b2b2b2;
                margin: 0 11px;
            }

            .slick-active {
                button {
                    background-color: #67b437;
                }
            }
        }
    }

    &__slider-box {
        &--hit {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                background-image: url(../images/hit.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 54px;
                height: 54px;
                top: 14px;
                right: 14px;
            }
        }

        &--veg {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                background-image: url(../images/veg.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 54px;
                height: 54px;
                top: 14px;
                right: 14px;
            }
        }
    }
}



.rolls {

    &__inner {
        margin-bottom: 80px;
        position: relative;
    }

    &__slider {
        .slick-dots {
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -20px;

            button {
                border-radius: 50%;
                width: 8px;
                background-color: #b2b2b2;
                margin: 0 11px;
            }

            .slick-active {
                button {
                    background-color: #67b437;
                }
            }
        }
    }

    &__slider-box {
        &--hot {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                background-image: url(../images/fire.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 49px;
                height: 49px;
                top: 22px;
                right: 17px;
            }
        }
    }

    &__img {
        margin-top: 28px;
    }
}

.pizza {

    &__inner {
        margin-bottom: 80px;
        position: relative;
    }


    &__slider {
        .slick-dots {
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -20px;

            button {
                border-radius: 50%;
                width: 8px;
                background-color: #b2b2b2;
                margin: 0 11px;
            }

            .slick-active {
                button {
                    background-color: #67b437;
                }
            }
        }
    }

    &__slider-box {
        &--hot {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                background-image: url(../images/fire.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 49px;
                height: 49px;
                top: 22px;
                right: 17px;
            }
        }
    }
}

.wok {

    &__inner {
        margin-bottom: 80px;
        position: relative;
    }

    &__slider {
        .slick-dots {
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -20px;

            button {
                border-radius: 50%;
                width: 8px;
                background-color: #b2b2b2;
                margin: 0 11px;
            }

            .slick-active {
                button {
                    background-color: #67b437;
                }
            }
        }
    }

    &__slider-img {
        margin: 26px auto 47px;
    }

    &__slider-box {
        position: relative;
    }

    &__info {
        margin-bottom: 26px;
    }

    &__info-text {
        @extend %openSans-light;
        font-size: 12px;
        line-height: 20px;
    }

    &__info-slash {
        @extend %openSans-light;
        font-size: 12px;
        line-height: 20px;
    }
}

.sauce-quantity {
    display: flex;
    justify-content: space-between;
    width: 193px;
    margin: 0 auto 14px;

    &__left {
        width: 110px;
        display: flex;
        justify-content: flex-start;
        @extend %openSans-regular;
        font-size: 12px;
        line-height: 28px;
        align-items: center;
    }

    &__left-text {
        margin-right: 5px;
    }

    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            display: flex;
            padding-right: 5px;
        }
    }
}

.quantity {
    @extend %openSans-light;
    font-size: 12px;
    width: 30px;
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 3px;
    display: flex;
    align-items: center;


    &__plus {
        @extend %openSans-light;
        font-size: 12px;
    }
}

.clear {
    @extend %openSans-light;
    font-size: 12px;
    border: none;
    background-color: transparent;
    position: absolute;
    left: 113px;
    bottom: 218px;
    cursor: pointer;
}

.price {
    @extend %openSans-light;
    font-size: 12px;

    span {
        @extend %openSans-light;
        font-size: 12px;
    }
}

.plus {
    width: 19px;
    height: 19px;
    background-color: #fd4f10;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: #fff;
}

#sauce-select {
    width: 193px;
    height: 25px;
    background-color: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 27px;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/select-arrow.png) no-repeat right center;
    /* Своя стрелка */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    @extend %openSans-light;
    width: 100%;
    padding-left: 14px;
    cursor: pointer;


    &__text {
        @extend %openSans-light;
        font-size: 12px;
    }
}

/* Стилизация выпадающего списка */
.custom-select:focus {
    outline: none;
    /* border-color: #007bff; */
    /* Изменение цвета рамки при фокусе */
}

/* Скрытие стрелки стандартного селекта */
.custom-select::-ms-expand {
    display: none;
}

.promotion__title-novelties.promotion__title-novelties--active,
.promotion__title-stock.promotion__title-stock--active {
    color: #fd4f10;
}

.promotion__title-novelties.promotion__title-novelties--active {
    .stock {
        display: none;
    }
}

.promotion__title-stock.promotion__title-stock--active {
    .novelties {
        display: none;
    }
}

.promotion {
    padding-top: 70px;

    &__title {
        display: flex;
        justify-content: start;
        margin-bottom: 57px;
    }

    &__title-novelties {
        margin-right: 69px;
        @extend %openSans-semibold;
        font-size: 18px;
        color: #999999;
        cursor: pointer;
    }

    &__title-stock {
        @extend %openSans-semibold;
        font-size: 18px;
        color: #999999;
        cursor: pointer;
    }
}

.novelties {
    display: none;

    &__inner {
        margin-bottom: 80px;
        position: relative;
    }

    &__img {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            /*
            ! вырезать правильно картинку new!
            **/
            background-image: url(../images/new.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &__slider {
        .slick-dots {
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -20px;

            button {
                border-radius: 50%;
                width: 8px;
                background-color: #b2b2b2;
                margin: 0 11px;
            }

            .slick-active {
                button {
                    background-color: #67b437;
                }
            }
        }
    }
}

.pizza {

    &__slider-box {}
}

.card {}

.stock {
    display: none;
    &__inner {
        margin-bottom: 80px;
        position: relative;
    }

    &__slider {
        .slick-dots {
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -20px;

            button {
                border-radius: 50%;
                width: 8px;
                background-color: #b2b2b2;
                margin: 0 11px;
            }

            .slick-active {
                button {
                    background-color: #67b437;
                }
            }
        }
    }
}

.stock.stock--on,
.novelties.novelties--on {
    display: block;
}


















@import 'media';