/* Webfont: LemonTreeRegular */@font-face {
    font-family: 'LemonTreeRegular';
    src: url('Lemon Tree.woff') format('woff'), /* Modern Browsers */
         url('Lemon Tree.woff2') format('woff2'), /* Modern Browsers */
         url('Lemon Tree.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

